@using AKB.MVC5.HtmlHelperExtensions.MVC5.HelperExtensions.Componets.Helper.StringBuilderr.Extension
@{
	ViewBag.Title = "StringBuilderExtension";
}
<h4>Html Helper Extension Method using the StringBuilder class</h4>
@Html.Image("/Images/visualstudio.png", "Visual Studio Image")
<p>
	This is a Html Helper method created using the StringBuilder class<br />
	Html.Image("src", "altText")<br />
	Html.Image("/Images/visualstudio.png", "Visual Studio Image")<br />
	Image is a extension method extending the HtmlHelper class.
</p>
<h4>Html Helper Extension Method using the TagBuilder class</h4>
@Html.Image("/Images/visualstudio.png", "Visual Studio Image", new { data_info = "Image of Visual studio" })
<p>
	This is a Html Helper method created using the TagBuilder class<br />
	Html.Image(this HtmlHelper htmlHelper, string src, string altText, object htmlAttributes = null)<br />
	Html.Image("/Images/visualstudio.png", "Visual Studio Image", new { data_info = "Image of Visual studio IDE" })<br />
	Image is a extension method extending the HtmlHelper class.
</p>
<h4>Html Helper Extension Method using the TagBuilder class</h4>
@Html.Image("/Images/visualstudio.png", "Visual Studio Image", "img-thumbnail img-responsive", new { data_info = "Image of Visual studio" })
<p>
	This is a Html Helper method created using the TagBuilder class<br />
	Html.Image(this HtmlHelper htmlHelper, string src, string altText, string cssClass, object htmlAttributes = null)<br />
	Html.Image("/Images/visualstudio.png", "Visual Studio Image", "img-thumbnail img-responsive", new { data_info = "Image of Visual studio IDE" })<br />
	Image is a extension method extending the HtmlHelper class.
</p>
<h4>Html Helper Extension Method using the TagBuilder class</h4>
@Html.Image("/Images/visualstudio.png", "Visual Studio Image", "img-thumbnail img-responsive", "visualstudio", new { data_info = "Image of Visual studio" })
<p>
	This is a Html Helper method created using the TagBuilder class<br />
	Html.Image(this HtmlHelper htmlHelper, string src, string altText, string cssClass, string name, object htmlAttributes = null)<br />
	Html.Image("/Images/visualstudio.png", "Visual Studio Image", "img-thumbnail img-responsive", "visualstudio", new { data_info = "Image of Visual studio IDE" })<br />
	Image is a extension method extending the HtmlHelper class.
</p>